<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

	<!-- Copy this file to the folder configured below in <localRepository/> -->
	<localRepository>${user.home}/.m2/repository</localRepository>

    <profiles>
        <profile>
            <id>default</id>
  
            <repositories>
                <repository>
		<id>central</id>
		<url>https://repo1.maven.org/maven2/</url>
		<releases>
			<enabled>true</enabled>
		</releases>
		<snapshots>
			<enabled>true</enabled>
		</snapshots>
		</repository>
		<repository>
			<id>Redhat-ga</id>
			<url>https://maven.repository.redhat.com/ga/</url>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</repository>
           </repositories>
		   
            <pluginRepositories>
             </pluginRepositories>
        </profile>
    </profiles>
    
	<activeProfiles>
		<activeProfile>default</activeProfile>
	</activeProfiles>
	
	<servers>
	</servers>
</settings>